<div class="container text-center my-5">
  <h1>Succès</h1>
  <p>Nous avons bien reçu votre paiement de <%= number_to_currency(@payment_intent.amount_received / 100.0, unit: "€", separator: ",", delimiter: "", format: "%n %u") %>.</p>
  <p>Votre participation à l'évènement est validée !</p> 

  <%= button_to "Revenir à l'accueil", root_path, class:"btn btn-primary m-2", method: :get %>
</div>