/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .body_css {
  background-color: #00DBDE;
  background-image: linear-gradient(-45deg, #c2b965 0%, #bbaa71 100%);
  width: 100%;
  height: 100%;
 }

 h1, h2, h3, h4, h5, h6, p, div, th {
  text-align: center;
 }

 .card {
  margin: auto;
  border-radius: 35px ;
  background: rgb(5,204,154);
  background: linear-gradient(90deg, rgba(5,204,154,0.3449754901960784) 1%, rgba(109,186,208,1) 100%, rgba(0,212,255,1) 100%);
 }

.card-position {
  display: flex;
  justify-content: center;
}

.form-group {
  width: 80%;
  margin: 0 auto; 
}

.spec_btn {
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 15px;
  background: linear-gradient(to right, #6DBAD0, #00D4FF);
  cursor: pointer;
  font-size:140% ;
}

.section_our_solution .row {
  align-items: center;
  justify-items: center;
}

.card-border {
  border: .2rem solid black ;
  border-radius: 15px;
}

 
input::file-selector-button, .btn-pic {
  background-color :green;
  border-radius: 5px;
  border:none;
  color:white;
  padding:5px 15px;
  cursor: pointer;
}



